div.content 
    div.page-header 

    div.row 

      h2 This is a web app for simply creating stackato.yml's

      img(src="/img/stackato-head_tag.png")
      p <a href="http://stackato.com">About Stackato</a> 
      p 
        a(href="http://docs.stackato.com/user/deploy/stackatoyml.html") What's a stackato.yml?


      h4 This site was created as part of the ActiveState hackathon.

      br

